<div class = "container">
	<h3> My Account <%= link_to "(change my info)", edit_user_path(@user.id), id: "change_my_info" %></h3>

	<div class = "col-lg-9">
		<div class="panel panel-default">
			<div class="panel-heading">Delivery Status</div>
			<table class="table table-striped">
		    	<thead>
		    		<th>#</th>
		    		<th>Order Date</th>
		    		<th>Vendor</th>
		    		<th>Status</th>
		    		<th>Est Arrival</th>
		    		<th>Last Update</th>
		    	</thead>

		    	<tr>
		    		<td>1</td>
		    		<td>24th March 2016</td>
		    		<td>KSFE</td>
		    		<td>Shipping from US</td>
		    		<td>25th June 2016</td>
		    		<td>23rd May 2016</td>
		    	</tr>

		    	<tr>
		    		<td>2</td>
		    		<td>24th March 2016</td>
		    		<td>KSFE</td>
		    		<td>Shipping from US</td>
		    		<td>25th June 2016</td>
		    		<td>23rd May 2016</td>
		    	</tr>

		    	<tr>
		    		<td>3</td>
		    		<td>24th March 2016</td>
		    		<td>KSFE</td>
		    		<td>Shipping from US</td>
		    		<td>25th June 2016</td>
		    		<td>23rd May 2016</td>
		    	</tr>

		    	<tr>
		    		<td>4</td>
		    		<td>24th March 2016</td>
		    		<td>KSFE</td>
		    		<td>Shipping from US</td>
		    		<td>25th June 2016</td>
		    		<td>23rd May 2016</td>
		    	</tr>

		    	<tr>
		    		<td>5</td>
		    		<td>24th March 2016</td>
		    		<td>KSFE</td>
		    		<td>Shipping from US</td>
		    		<td>25th June 2016</td>
		    		<td>23rd May 2016</td>
		    	</tr>
		  	</table>
		  	<%= link_to "more ....","#" %>
	  	</div><!-- class="panel panel-default" -->

	  	<div class="panel panel-default">
			<div class="panel-heading">Past Order</div>
			<table class="table table-striped">
		    	<thead>
		    		<th>#</th>
		    		<th>Order Date</th>
		    		<th>Vendor</th>
		    		<th>Status</th>
		    		<th>Est Arrival</th>
		    		<th>Last Update</th>
		    	</thead>

		    	<tr>
		    		<td>1</td>
		    		<td>24th March 2016</td>
		    		<td>KSFE</td>
		    		<td>Shipping from US</td>
		    		<td>25th June 2016</td>
		    		<td>23rd May 2016</td>
		    	</tr>

		    	<tr>
		    		<td>2</td>
		    		<td>24th March 2016</td>
		    		<td>KSFE</td>
		    		<td>Shipping from US</td>
		    		<td>25th June 2016</td>
		    		<td>23rd May 2016</td>
		    	</tr>

		    	<tr>
		    		<td>3</td>
		    		<td>24th March 2016</td>
		    		<td>KSFE</td>
		    		<td>Shipping from US</td>
		    		<td>25th June 2016</td>
		    		<td>23rd May 2016</td>
		    	</tr>

		    	<tr>
		    		<td>4</td>
		    		<td>24th March 2016</td>
		    		<td>KSFE</td>
		    		<td>Shipping from US</td>
		    		<td>25th June 2016</td>
		    		<td>23rd May 2016</td>
		    	</tr>

		    	<tr>
		    		<td>5</td>
		    		<td>24th March 2016</td>
		    		<td>KSFE</td>
		    		<td>Shipping from US</td>
		    		<td>25th June 2016</td>
		    		<td>23rd May 2016</td>
		    	</tr>
		  	</table>
		  	<%= link_to "more ....","#" %>
	  	</div><!-- class="panel panel-default" -->

	</div> <!-- class = "col-lg-9" -->

	<div class = "col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">Customer Service</div>
			<table>
				<tr><td>Phone</td><td>016-316 6400</td><tr>
				<tr><td>Email</td><td>edmondtm@anythingscientific.com</td><tr>
				<tr><td colspan="2">Whatsapp</td></tr>
				<tr><td colspan="2">Telegram</td></tr>	
				<tr><td colspan="2">Facebook Messanger</td></tr>
			</table>
		</div><!-- class="panel panel-default" -->
	</div> <!-- class = "col-lg-9" -->


</div> <!-- class= "container" -->

