

<div class="clearfix"></div>

<footer class="col-lg-12 col-md-12 hidden-xs hidden-sm">
<div class="container">
	<div class="col-lg-5 col-md-5"> </div> 
	<div class="col-lg-4 col-md-3"> </div>
	<div class="col-lg-3 col-md-4 address-footer pull-right"> 
		<h3><span class="logo-any">any</span><span class="logo-Thing">Thing</span> <span class="logo-Scientific">Scientific</span></h3>
		 <address>
			 Block 3730, Persiaran APEC, <br>
			 63000 Cyberjaya, Malaysia <br>		
			 <%= mail_to "edmondtm@anythingscientific.com", "edmondtm@anythingscientific.com" %><br>
			 Contact : +6016-316 6400
		</address> 
		
	</div>
</div>
</footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  