<nav class="navbar navbar-default header">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-lg-11">
     <%= image_tag("support.png", alt: "24/7 Phone Support", height: "50px", class: "support") %>   
     <i class="fa fa-facebook-square"></i>
    </div>
    <div class="clearfix visible-lg-block"></div>
    <div class="navbar-header col-lg-3">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= link_to image_tag("Logo.png", :alt => 'anyThing Scientific Logo', :width => '100%'), root_path, :class => 'navbar-brand' %>)


    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
    <div class="row">
  
  	<div class="col-lg-7 search-bar">
    	<div class="input-group">
      		<input type="text" class="form-control" placeholder="Search for...">
      		<span class="input-group-btn">
        		<button class="btn btn-default" type="button">
  					<span class="search-button"> Search</span>
				    </button>
      		</span>
    	</div><!-- /input-group -->
  	</div><!-- /.col-lg-7 -->

    <div class="col-lg-1">
      
      <a href="#"><span class="glyphicon glyphicon-shopping-cart cart" aria-hidden="true"></span></a> 
    </div>
	
	</div><!-- /.row -->

  <div class="user-bar col-lg-12"> 
    <span class="user-control"><a href="#">Sign In/myAccount </a></span> 
    <span class="user-control"><a href="#"> Track myOrder</a> </span>
    <span class="user-control"><a href="#"> Contact Us</a></span>
  </div> 
  
  
  

      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>